<script src="{{ '/assets/vendor/flickity.min.js' | url }}"></script>
<link rel="stylesheet" href="{{ '/assets/vendor/flickity.min.css' | url }}"/>

<div class="not-prose text-neutral-content mx-[calc(50%-50vw)] my-8 w-auto">
  <h2 class="text-center text-4xl tracking-tight font-bold pb-2">Exhibit Essays</h2>
  <div class="link text-center mb-6">
    <a href="{{ '/browse/items' | url }}" class="text-base-content link hover:text-secondary text-sm">View All ({{ collections.exhibit.size }})</a>
  </div>
  <div class="mx-auto text-center">
    <button class="prev-exhibit h-8 w-8 md:h-12 md:w-12 md:-mr-2 text-accent hover:text-neutral-content tooltip tooltip-left" data-tip="Previous">{% include "svg/arrow-left.svg" %}</button>
    <button class="next-exhibit h-8 w-8 md:h-12 md:w-12 text-accent hover:text-neutral-content tooltip tooltip-right" data-tip="Next">{% include "svg/arrow-right.svg" %}</button>
  </div>
  <div class="hero block">
    <div class="hero-content mx-auto">
      <div id="exhibits-carousel" class="w-full">
        {%- for exhibit in collections.exhibit -%}
          <div class="p-4 lg:w-1/3 sm:w-1/2 w-full">
            {%- include "partials/exhibit-card.html" -%}
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

<script>
  var exhibitCarousel = new Flickity('#exhibits-carousel', {
    wrapAround: true,
    imagesLoaded: true,
    cellAlign: 'left',
    prevNextButtons: false,
    pageDots: false,
    pauseAutoPlayOnHover: false,
    autoPlay: 3500 
  });
  document.querySelector('.prev-exhibit').addEventListener('click', () => exhibitCarousel.previous());
  document.querySelector('.next-exhibit').addEventListener('click', () => exhibitCarousel.next());
</script>


