<div class="not-prose bg-primary mx-[calc(50%-50vw)] w-auto">
  <h2 class="text-center py-6 text-2xl font-bold text-primary-content">Example exhibit carousel title</h2>
  <div class="hero">
    <div class="hero-content bg-primary">
      <div class="carousel items-center py-5">
        {% assign featured = items | limit: 4 %}
        {%- for item in featured -%}
          <div class="carousel-item px-5 lg:basis-1/6 basis-1/5">
            {% include "partials/exhibit-card.html" %}
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

