<div class="hero not-prose bg-neutral text-center mx-auto ">
  <div class="hero-content text-center mx-auto px-6 py-20">
    <div>
      <p class="py-0 text-6xl font-bold font-serif max-w-prose mx-auto">BiblioPolítica:</p>
      <h2 class="text-6xl font-bold max-w-3xl text-secondary">A Digital History of the Chicano Studies Library</h2>
      <p class="py-8 max-w-prose mx-auto">Ut eleifend lacus at erat efficitur bibendum. Ut laoreet elit nec dolor molestie finibus. Vivamus justo risus, scelerisque nec dolor ut, pretium fringilla purus. Nam nisl erat, tristique ac libero vitae, bibendum pellentesque nulla.</p>
      
      <a href="{{ '/about/library' | url }}">
        <button class="btn btn-sm btn-outline btn-accent">Read About the Library</button>
      </a>
      &nbsp;&nbsp;
      <a href="{{ '/about/project' | url }}">
        <button class="btn btn-sm btn-outline btn-accent">Read About the Project</button>
      </a>
    </div>
  </div>
</div>