<div class="hero not-prose bg-neutral">
  <div class="flex flex-col sm:flex-row-reverse justify-between container w-full max-w-screen-xl py-16 lg:px-4">
    <div class="sm:w-1/3 mt-[-25vh] mb-4 sm:my-0 w-full text-stone-600 sm:bg-transparent bg-base-300 bg-blend-darken">
      {% include "svg/montoya-faces.svg" %}
    </div>
    <div class="sm:w-2/3 w-full">
      <div class="max-w-96 my-4 mx-8 lg:mx-4 text-secondary">
        <h1>{% include "svg/logo-wordmark.svg" %}</h1>
      </div>
      <p class="py-5 mx-8 lg:mx-4 font-serif text-xl sm:text-2xl max-w-2xl sm:leading-8">
        At the intersection of Chicana/o/x  Studies, Digital Humanities, and Library History, 
        <a class="link hover:text-secondary" href="{{ '/about/project.html' | url }}">Bibliopolítica: A Digital History of the Chicano Studies Library</a> 
        chronicles the history of one of the first Chicana/o/x  collections,
        <a class="link hover:text-secondary" href="{{ '/about/library-timeline.html' | url }}">the Chicano Studies Library (CSL)</a> at the University of California, Berkeley.
      </p>

      <p class="pb-5 mx-8 lg:mx-4 text-xl font-serif sm:text-2xl max-w-2xl sm:leading-8">
        We invite you to explore 
        <a class="link hover:text-secondary" href="{{ '/browse/exhibit/en.html' | url }}">the digital exhibit</a>,
        listen to recorded 
        <a class="link hover:text-secondary" href="{{ '/browse/oral-histories.html' | url }}">oral histories</a>, 
        browse digitized 
        <a class="link hover:text-secondary" href="{{ '/browse/items.html' | url }}">archival items</a>, or explore on your own path. 
      </p>
    </div>
  </div>
</div>