<div class="hero not-prose bg-neutral text-center mx-auto ">
  <div class="hero-content text-center mx-auto px-3 py-6 md:py-16">
    <div>

      <div class="max-w-28 mx-auto pb-4 text-secondary">
      {% include "svg/logo-full.svg" %}
      </div>

      <h2 class="text-3xl md:text-6xl tracking-tight font-bold max-w-3xl mx-auto text-secondary">A Digital History of the Chicano Studies Library</h2>
      
      <p class="py-5 text-lg md:text-xl max-w-3xl mx-auto">At the intersection of Chicanx Studies, Digital Humanities and Library History, Bibliopolítica chronicles the history of one of the first Chicanx collections, the UC Berkeley Chicano Studies Library (CSL).</p>

      <a href="{{ '/about/project' | url }}">
        <button class="btn btn-sm btn-outline btn-accent">Read More About the Project</button>
      </a>

    </div>
  </div>
</div>