<div class="hero not-prose bg-base-100 text-neutral-content border-b">
  <div class="hero-content max-w-full items-start px-6 pt-12 pb-8 flex-col md:gap-10 lg:flex-row-reverse">
    <div class="basis-1/2 flex flex-row align-middle items-center relative ">
      {% assign featured = items | slice: 2,1 %}
      {%- for item in featured -%}
        <div class="">
          {% include "partials/item-featured.html" %}
        </div>
      {%- endfor -%}
      {% assign featured = items | slice: 20,1 %}
      {%- for item in featured -%}
        <div class="-ml-20 -mt-28 z-50">
          {% include "partials/item-featured.html" %}
        </div>
      {%- endfor -%}
      {% assign featured = items | slice: 21,1 %}
      {%- for item in featured -%}
        <div class="-ml-44 md:-ml-52 md:-mb-16">
          {% include "partials/item-featured.html" %}
        </div>
      {%- endfor -%}
    </div>
    <div class="basis-1/2">
      <h2 class="text-5xl md:text-6xl tracking-tight font-bold">A Digital History of the Chicano Studies Library</h2>
      <p class="py-6 max-w-prose md:text-lg md:pl-8">Ut eleifend lacus at erat efficitur bibendum. Ut laoreet elit nec dolor molestie finibus. Vivamus justo risus, scelerisque nec dolor ut, pretium fringilla purus. Nam nisl erat, tristique ac libero vitae, bibendum pellentesque nulla.</p>
    </div>
  </div>
</div>