<div class="hero not-prose bg-neutral text-base-content">
  <div class="hero-content max-w-full items-start px-6 py-20 flex-col lg:flex-row-reverse">
    <div class="basis-1/2 flex flex-row gap-x-4">
      {% assign featured = items | limit: 2 %}
      {%- for item in featured -%}
        <div class="max-w-52">
          {% include "partials/item-card.html" %}
        </div>
      {%- endfor -%}
    </div>
    <div class="basis-1/2 ">
      <h2 class="text-5xl font-bold">A Digital History of the Chicano Studies Library</h2>
      <p class="py-6 max-w-prose">Ut eleifend lacus at erat efficitur bibendum. Ut laoreet elit nec dolor molestie finibus. Vivamus justo risus, scelerisque nec dolor ut, pretium fringilla purus. Nam nisl erat, tristique ac libero vitae, bibendum pellentesque nulla. Praesent accumsan ut mauris ut euismod. Etiam mattis a justo eget blandit. Aliquam vitae magna eget nisi suscipit finibus id sit amet nulla.</p>
    </div>

  </div>
</div>