---
permalink: "{{ page.fileSlug | slugify }}/index.html"
---

{% include "partials/head.njk" %}

{% include "partials/header.njk" %}

<div class="container z-0">

{{ content | safe }}

</div>

{% include "partials/footer.njk" %}
