---
permalink: "{{ page.fileSlug | slugify }}/index.html"
---

{% include "partials/head.njk" %}

{% include "partials/nav.njk" %}

<div class="wrapper">

{% if page.url == '/' or page.url == '/components/' %}
{% else %}
  {% include "partials/wax-header.njk" %}
{% endif %}

{{ content | safe }}

</div>

{% include "partials/footer.njk" %}
