---
permalink: "{{ page.fileSlug | slugify }}/index.html"
---
<!doctype html>
<html lang="en" id="top" class="scroll-pt-20" data-theme="light">
  {% include "partials/head.liquid" %}
  <body>
    {% include "partials/header.liquid" %}
    {{ content }}
    {% include "partials/footer.liquid" %}
  </body>
</html>
