---
layout: base
---

<article class="container mx-auto px-6 py-10 max-w-3xl prose lg:prose-lg text-base-content">

  <div class="my-8 float-right text-right">
  {% for exhibit in collections.exhibit %}
    {% if exhibit.data.number == number %}
    <a class="btn btn-sm text-base-100 btn-accent ml-1 mb-2 no-underline font-sans" href="{{ exhibit.data.permalink | url }}">{{ exhibit.data.number }}: {{ exhibit.data.title | strip_html }}</a>
    {% else %}
    <a class="btn btn-sm btn-outline btn-accent ml-1 mb-2 no-underline font-sans" href="{{ exhibit.data.permalink | url }}">{{ exhibit.data.number }}: {{ exhibit.data.title | strip_html }}</a>
    {% endif %}
  {% endfor %}
  </div>

  <div class="text-5xl font-bold text-neutral-500">#{{ number }}</div>
  <h1 class="my-4 tracking-tight">{{ title }}</h1>
  {% if author %}div class="mt-4 italic">By {{ author }}</div>{% endif %}

  <div class="italic">By {{ author | default: "Author/Curator Name(s) Here" }}</div>

  <div class="font-serif my-8">{{ content }}</div>
</article>