---
layout: page 
---

<div class="md:flex md:flex-row-reverse justify-between md:gap-x-8">
  <div class="md:basis-2/5 lg:basis-1/2 mx-[calc(50%-50vw)] md:mx-0 border-y border-neutral md:border-none p-5 md:p-3">
    <div class="hidden md:block text-2xl font-bold mb-2">Featured Items</div>
    <div class="columns-5 md:columns-2 lg:columns-4 gap-x-2">
    {% for item in featured_items %}
      <div class="mb-2 not-prose ">
        <a href="{{ '/item/'| append: item.id | url }}" class="block tooltip tooltip-bottom" data-tip="{{ item.label | escape | truncatewords: 4, '...' }}">
          {% capture img_url %}https://d1b7k5w7yjwpfg.cloudfront.net/iiif/2/bibliopolitica_{{ item.id }}_{{ item.id }}_001/full/800,/0/default.jpg{% endcapture %}
          <img src="{{ img_url }}" class="" />
        </a>
      </div> 
    {% endfor %}
    </div>
  </div>
  <div class="md:basis-3/5 lg:basis-1/2">
    <div class="prose-lg lg:prose-xl text-base-content [&_p]:leading-relaxed [&_p]:text-wrap font-serif mt-4 mb-20">
      {{ content }}

      {% unless number == collections.exhibit.size %}
        <a href="{{ '/exhibits' | url }}/{{ number | plus: 1 }}" class="col-start-2 text-right text-base max-w-2xl leading-tight link text-accent hover:text-base-content font-sans">Read Next</a>
      {% endunless %}
      </div>
    </div>
  </div>
</div>