---
layout: base
metadata:
  - key: Personal Name
    list: true
  - key: Place of Recording
  - key: Date of Recording
  - key: Running Time
  - key: Language
    list: true
  - key: Notes
    list: true
  - key: Rights Statement
  - key: Identifier
    list: true
---

{% capture bio_card %}
<div class="relative flex w-full flex-col rounded-xl border-b border-neutral md:border-none">
  <div class="relative flex gap-4 my-4 overflow-hidden items-center">
    <img
      src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1480&amp;q=80"
      alt="Tania Andrew" class="relative inline-block h-[80px] w-[80px] !rounded-full  object-cover object-center" />
    <div class="flex w-full flex-col gap-0.5">
      <div class="flex items-center justify-between">
        <div class="font-bold text-secondary text-xl">
          About the Interviewee <!--{{ history.label | remove: " Oral History Interview" }}-->
        </div>
      </div>
      <p class="text-sm text-neutral-600">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed ligula neque. Sed tristique velit dolor,
        feugiat ullamcorper libero pulvinar ac. Aliquam purus nisl, ultrices id feugiat id, auctor at enim. Duis at
        ipsum at nibh malesuada eleifend.
      </p>
    </div>
  </div>
</div>
{% endcapture %}

<div class="flex p-5 mb-5 border-b border-neutral items-center">
  <div class="basis-5/6">
    <h1 class="text-2xl md:text-4xl md:tracking-tight font-bold">{{ history.label }}</h1>
  </div>
  <div class="basis-1/6 h-10 md:h-12 text-right flex justify-end">
    <a href="{{ pagination.href.previous | default: pagination.href.last | url }}"
      class="-mr-1 hover:text-neutral-content text-accent tooltip tooltip-bottom" data-tip="Previous item">{% include
      "svg/arrow-left.svg" %}</a>
    <a href="{{ pagination.href.next | default: pagination.href.first | url }}"
      class="hover:text-neutral-content text-accent tooltip tooltip-bottom" data-tip="Next item">{% include
      "svg/arrow-right.svg" %}</a>
  </div>
</div>

<article id="item-content-area" class="mx-5 mb-5 md:flex">
  <div class="md:basis-1/2 md:shrink-0">
    <iframe class="w-full z-0 h-[50vh] mb-4" id="kaltura_player"
      src="https://cdnapisec.kaltura.com/p/1674401/sp/167440100/embedIframeJs/uiconf_id/23435151/partner_id/1674401?iframeembed=true&playerId=kaltura_player&entry_id={{ history['Stream Id'] }}&flashvars[streamerType]=auto&amp;flashvars[localizationCode]=en&amp;flashvars[sideBarContainer.plugin]=true&amp;flashvars[sideBarContainer.position]=left&amp;flashvars[sideBarContainer.clickToClose]=true&amp;flashvars[chapters.plugin]=true&amp;flashvars[chapters.layout]=vertical&amp;flashvars[chapters.thumbnailRotator]=false&amp;flashvars[streamSelector.plugin]=true&amp;flashvars[EmbedPlayer.SpinnerTarget]=videoHolder&amp;flashvars[dualScreen.plugin]=true&amp;flashvars[LeadWithHLSOnFlash]=true&amp;flashvars[Kaltura.addCrossoriginToIframe]=true&amp;&wid=1_y7lxxlyu"
      width="100%" height="350" allowfullscreen webkitallowfullscreen mozAllowFullScreen
      allow="autoplay *; fullscreen *; encrypted-media *"
      sandbox="allow-downloads allow-forms allow-same-origin allow-scripts allow-top-navigation allow-pointer-lock allow-popups allow-modals allow-orientation-lock allow-popups-to-escape-sandbox allow-presentation allow-top-navigation-by-user-activation"
      frameborder="0" title="{{ history.label }}"></iframe>
    {{ bio_card }}
  </div>
  <div>
    <ul
      class="py-6 md:px-8 md:py-2 space-y-2 md:basis-1/2 md:flex md:flex-col shrink max-w-prose bg-base-100 break-words">
      {% for meta in metadata %}
      {% if history[meta.key] %}
      {% if meta.list %}
      <li><b>{{ meta.key }}:</b> {{ history[meta.key] | join: '; ' }}</li>
      {% else %}
      <li><b>{{ meta.key }}:</b> {{ history[meta.key] }}</li>
      {% endif %}
      {% endif %}
      {% endfor %}

      {% if history["Keyword"] %}
      <li><b>Keyword:</b>
        {% for keyword in history["Keyword"] %}
        <a class="link hover:text-accent">{{ keyword }}</a>{% unless forloop.last %}; {% endunless %}
        {% endfor %}
      </li>
      {% endif %}
      {% if history["Subject"] %}
      <li><b>Subject:</b>
        {% for subject in history["Subject"] %}
        <a class="link hover:text-accent">{{ subject }}</a>{% unless forloop.last %}; {% endunless %}
        {% endfor %}
      </li>
      {% endif %}
      {% if history["Genre"] %}
      <li><b>Genre:</b>
        {% for genre in history["Genre"] %}
        <a class="link hover:text-accent">{{ genre }}</a>{% unless forloop.last %}; {% endunless %}
        {% endfor %}
      </li>
      {% endif %}
      {% if history["Format"] %}
      <li><b>Format:</b>
        {% for format in history["Format"] %}
        <a class="link hover:text-accent">{{ format }}</a>{% unless forloop.last %}; {% endunless %}
        {% endfor %}
      </li>
      {% endif %}
      {% if history["Link"] %}
      <li><b>Link:</b>
        {% for link in history["Link"] %}
        <a class="link hover:text-accent" href="{{ link }}" target="_none">{{ link }}</a>{% unless forloop.last %}; {%
        endunless %}
        {% endfor %}
      </li>
      {% endif %}
      {% if history["Narrative Summary"] %}
      <li>
        <details>
          <summary class="meta-summary font-bold">&nbsp;Narrative Summary&nbsp;</summary>
          <p class="py-2">{{ history["Narrative Summary"] }}</p>
        </details>
      </li>
      {% endif %}
      <li>
        <details>
          <summary class="meta-summary font-bold">&nbsp;Transcript&nbsp;</summary>
          <div class="transcript text-sm font-mono">
            <p class="italic">Today I'm speaking with Purita Mesa, social worker and former staff member at the Chicano Studies Library at
            UC Berkeley. The interview was conducted for Bibliopolítica, a digital history of the Chicano Studies
            Library. The interview took place in the Ethnic Studies Changemaker Podcast Studio at UC Berkeley,
            California on September 15th, 2023. Engineered by Angelica Garcia, the interviewer is Amanda Belantara.</p>

            <p><b>Amanda Belantara:</b> Thank you for meeting with us all today. We're here with Richard Chabrán and Lili Castillo
            Speed as well. Could you start off by telling us a bit about yourself, where you grew up, what you studied,
            and the kind of work you do?</p>

            <p><b>Purita Mesa:</b> I grew up in New York and then came here to UC Berkeley as a freshman. The very beginning I
            thought I wanted to be a librarian eventually because of actually the Chicano Studies Library and the people
            I met became a social worker.</p>

            <p><b>Amanda Belantara:</b> Going back to the time that you were a student here in Berkeley, can you talk a little bit
            about the atmosphere on campus and how was it that you first came to hear about the Chicano Studies Library?</p>

            <p><b>Purita Mesa:</b> I started off in the dorms and it was pretty isolating. I just couldn't connect with anybody. I
            couldn't find any Latinos. I think I saw somebody once and actually she helped me. I was crying in the
            middle of campus and she came up to me and said, "What's wrong with you?" And she said, "I didn't get into
            any classes. In those days we didn't have computers, so we had these computer cards and you would hand them
            in and they would select you." And I ended up with no classes that first semester or quarter. We were on a
            quarter system. She said, "Let me help you." So she took me to classes. She said, "Let's see freshmen. Let's
            see what you can take." And she said, "Just take any classes. It's your first quarter." And that's how I
            made it through that time. The second third semester I met Elva. We became friends. That summer I thought I
            wanted to work at the Chicano Studies Library. Libraries had always been an escape for me. At school my
            mother would dress us up in our Sunday best to go to the library and collect books. It was always like this
            huge, beautiful place that I could explore. So it was always really important to me. And so I had work study
            money and I called Jose Arce and I called him and I called him. Actually he told me that he hired me because
            I called him so many times. He said he had to hire someone who was that eager. That was like the most
            beautiful experience for me. I got to work with other people who looked like me, discovered a new library
            and new information that I knew nothing about because I really didn't know much about Chicanos. I was one of
            the few Puerto Ricans around. Actually we didn't have a lot of Central or South Americans on campus. So I
            started learning more and more about the music and stuff and so we worked hard. But we also spent time
            talking and connecting with each other and it was really important. I was like at my happiest that I had
            ever been.</p>

            <p><b>Amanda Belantara:</b> You mentioned Elva. Is this Elva Yañez?</p>

            <p><b>Purita Mesa:</b> Yes.</p>

            <p><b>Amanda Belantara:</b> Was she the one that introduced you or told you about the Chicano Studies Library?</p>

            <p><b>Purita Mesa:</b> Yeah, she was working on a new classification system and was showing me I was so impressed. My
            brain would not have worked that way. So I thought, wow, this woman is amazing. Yeah, so she was the one
            that told me about the Chicano Studies Library.</p>

            <p><b>Amanda Belantara:</b> The classification system that you mentioned, do you remember much about how it developed?
            Was Jose involved in that?</p>

            <p><b>Purita Mesa:</b> I know that Jose was really excited about it, but I don't remember a lot of the detail.</p>

            <p><b>Amanda Belantara:</b> So you called and called and called Jose and he said, all right, you want to be in with us
            that bad. I will give you the job.</p>

            <p><b>Purita Mesa:</b> After saying many times that he hadn't decided yet and I thought, yeah, I'm going to make you
            decide.</p>


            <p><b>Amanda Belantara:</b> Can you remember your first day when you got started or maybe your first time entering the
            library as a space?</p>

            <p><b>Purita Mesa:</b> I don't really remember. I remember the space, remember the coffee in the corner. But he had
            also hired other people, too, and just meeting them and looking at the collection, being introduced to the
            collection and what our duties were. And Juan Gonzalez was there, too. I remember the whole summer. I don't
            remember particular days. I remember happiness.</p>

            <p><b>Amanda Belantara:</b> Do you remember any other little details of what the library looked like? Like, what would
            you see if you were painting a picture for somebody?</p>

            <p><b>Purita Mesa:</b> There was a table as you walked in and like a desk. That's where Juan sat. And it must have
            been two because Jose also. But there was a huge window. It was a very welcoming place that I knew people
            should come to. It was my first time there, actually.</p>

            <p><b>Amanda Belantara:</b> What was it like for you to encounter that space? How did you feel when you arrived? And
            what was it like to see that collection?</p>

            <p><b>Purita Mesa:</b> I felt like I had arrived and I just wanted to dig in and look at all the books and read more
            and more. Of course, I had to do work, too. But there were many times, like, when I was putting books back
            that I would pick up other ones and just like look through them. And I felt like I was home. That's really
            what I felt like after feeling so isolated.</p>

            <p><b>Amanda Belantara:</b> And so what kind of work were you doing in the library?</p>

            <p><b>Purita Mesa:</b> We were just putting back books. Juan and Jose were opening up new things that had come through
            that they had purchased. That was it, just preparing for the new school year and getting books out on the
            shelf, getting things organized.</p>

            <p><b>Amanda Belantara:</b> Did you have the books set up in a particular way?</p>

            <p><b>Purita Mesa:</b> Jose had really spent some time at the other libraries and had classified them somehow. And
            that's when Elva thought, well, you know, Latinos fit in in a different way. They've let us out in this
            system. You mentioned that you would be handling a lot of the books in the collection and seeing new things
            coming in. Was there anything in the collection that particularly caught your eye or anything memorable that
            you were excited to see? There were novels. I remember, like, we were just talking about cookbooks. So for
            me, like, learning how the difference between Puerto Rican cookery and Mexican was really important. And so
            I spent a lot of time looking at those cookbooks also. I remember the series, Aztlán. Those are the things
            that stand out for me. But there were, you know, novels and stuff that I discovered. And when other students
            would come, actually, when the school year started and I also got work study for the year because I wasn't
            going to let that go, I would know where things were. I had already been looking for myself.</p>

            <p><b>Amanda Belantara:</b> What was it like there working with your other colleagues in the library?</p>

            <p><b>Purita Mesa:</b> I think that we had found a home with each other and we spent time with each other. And
            actually, there were like times when we would go and eat somewhere and just laugh and enjoy each other. Was
            unlike other libraries in that it was a gathering place, a place for you to study, a place for you to meet
            with other people. Like, I'll meet you at the library. That was always a thing we would say to each other,
            where if you had groups that you wanted to meet with, that you would. Like, we were allowed to come and have
            meetings there. We would spread information there. It was always a place that you could come for help. If I
            had known that my first semester or my first quarter, I could have gone to the library and said, I need
            help. And I'm sure that I would have had maybe two or three people laughing at me and helping me. Yeah,
            because that's the kind of place it was. I think there was a calling that we knew that we were there to help
            each other. That's what we did.</p>

            <p><b>Amanda Belantara:</b> And so how did you feel doing the work that you were doing there? What did it feel like to
            be amongst the collection and helping make the library come alive?</p>

            <p><b>Purita Mesa:</b> For me, it was wonderful. I had told you that I was the kind of kid who went to the library
            instead of playing, doing recess. When I found that they would let me go there during lunch, that's I would
            skip lunch and just stay there at the library. So for me, a library was a gold mine and a wonderful place,
            except that this time it wasn't an escape for me anymore. It was a place for me to come and be a part of
            something.</p>

            <p><b>Amanda Belantara:</b> How would you feel that the work that you did at the library connects to what you do now?
            How did it impact your life after you left Berkeley?</p>

            <p><b>Purita Mesa:</b> During the time that I was there, we created this thing called Mujeres del Movimiento. It's a
            group of women and we did different things. And one of the things that, aside from putting on a conference,
            that was a huge, huge event. We also tried to connect with the community. A man in the community who had
            been a big influencer during the huge movement, Señor Munoz. So he said, you know, some of these kids in the
            Berkeley schools need tutoring. So it went from the library to Mujeres del Movimiento, because that's where
            we would meet. And that's where we created things and talked to doing this specific community thing, like
            tutoring. But when you went to go tutor, they would say, "Ay necesito esto, tengo que pagar esto." And then
            you would help the family. I would end up helping the family with other things. And I thought, "This, maybe,
            this is what I want to do. I do this well." So I think that that's why I became a social worker instead of a
            librarian. Actually, I didn't even know there was anything called a master's in social welfare until Jose
            Ace's wife went. So I thought, "What? There's a school like that? I want to do that."</p>

            <p><b>Amanda Belantara:</b> You mentioned this gathering of women, this big symposium that you put on, which sounds
            incredible. What did it mean for you as a woman on campus as well to gather with other Latinas in the
            community here at Berkeley to have the space in the library? What was that like at the time?</p>

            <p><b>Purita Mesa:</b> It was really important. I think we did Mujeres de Movimiento because there was a women's
            movement going on at the same time. And we were pretty powerful and smart. And we wanted to establish
            ourselves that way. And I think that some of the men on campus didn't see us that way. And I think that was
            the impetus to meet together and try to do things on our own. There were a lot of silly comments from the
            guys, too. Why do you have to do this by yourself? Why are you separating yourself from us? And it was
            really important. So not only did we pursue some intellectual things, and we also thought about helping the
            community, but we also met and laughed and talked and were really intimate with each other as women. And
            that was so important to separate ourselves and be alone and spend that time together. Is there anything
            else that you would like to share about your experience of being a worker at the library in its early days?
            I learned a lot about California and Chicanos and Mexican history through the library because I was
            surrounded by stuff all the time. And also the librarians were always eager to share information about the
            stuff coming in. And that's what I really loved, too. You know, like when they were going through the new
            journals that came in and Richard, too, like would say, and Jose, like they were both really eager to teach.
            I like tried to absorb anything I could get. Like, this is a new journal. Look what this these people are
            coming up with. So I always felt privileged that I that I could see those things before anybody else did.
            And then I knew what was coming in. Also, it was a place for community, was a place for a gathering. And we
            would talk about what we were going to do that weekend. It was really an important place, especially at the
            time that I went. There weren't too many of us on campus. That's what I'm telling you, that we could... I
            don't know if they can do that now. But we knew who like who has that book. I'm going to go get them. I know
            where they live. So it was a powerful place to feel like you were a part of something in this huge place
            that had a lot of people who did not look like us.</p>
          </div>
        </details>
      </li>
    </ul>
  </div>
</article>