---
layout: page
metadata:
  - key: Personal Name
    list: true
  - key: Place of Recording
  - key: Date of Recording
  - key: Running Time
  - key: Language
    list: true
  - key: Notes
    list: true
  - key: Rights Statement
  - key: Identifier
    list: true
---

{% capture bio_card %}
<div class="relative not-prose flex w-full flex-col border-b border-neutral md:border-none">
  <div class="relative flex gap-4 my-4 overflow-hidden items-top">
    <img
      src="{{ '/media/oh' | url }}/{{ history.id }}.jpg"
      alt="Image of {{ history.label | remove: 'Oral History Interview' }}" class="relative inline-block h-[80px] w-[80px] !rounded-full  object-cover object-center" />
    <div class="flex w-full flex-col gap-0.5">
      <div class="flex items-center justify-between">
        <div class="font-bold text-secondary text-xl">
          About the Interviewee
        </div>
      </div>
      <p class="text-sm text-neutral-500">
        {{ history["Long Bio"]}}
      </p>
    </div>
  </div>
</div>
{% endcapture %}

<article class="mb-5 md:flex">
  <div class="md:basis-1/2 md:shrink-0">
    <iframe class="w-full z-0 h-[50vh] mb-4" id="kaltura_player"
      src="https://cdnapisec.kaltura.com/p/1674401/sp/167440100/embedIframeJs/uiconf_id/23435151/partner_id/1674401?iframeembed=true&playerId=kaltura_player&entry_id={{ history['Stream Id'] }}&flashvars[streamerType]=auto&amp;flashvars[localizationCode]=en&amp;flashvars[sideBarContainer.plugin]=true&amp;flashvars[sideBarContainer.position]=left&amp;flashvars[sideBarContainer.clickToClose]=true&amp;flashvars[chapters.plugin]=true&amp;flashvars[chapters.layout]=vertical&amp;flashvars[chapters.thumbnailRotator]=false&amp;flashvars[streamSelector.plugin]=true&amp;flashvars[EmbedPlayer.SpinnerTarget]=videoHolder&amp;flashvars[dualScreen.plugin]=true&amp;flashvars[LeadWithHLSOnFlash]=true&amp;flashvars[Kaltura.addCrossoriginToIframe]=true&amp;&wid=1_y7lxxlyu"
      width="100%" height="350" allowfullscreen webkitallowfullscreen mozAllowFullScreen
      allow="autoplay *; fullscreen *; encrypted-media *"
      sandbox="allow-downloads allow-forms allow-same-origin allow-scripts allow-top-navigation allow-pointer-lock allow-popups allow-modals allow-orientation-lock allow-popups-to-escape-sandbox allow-presentation allow-top-navigation-by-user-activation"
      frameborder="0" title="{{ history.label }}"></iframe>
    {{ bio_card }}
  </div>
  <div>
    <ul
      class="not-prose text-base py-6 md:px-8 md:py-2 space-y-2 md:basis-1/2 md:flex md:flex-col shrink max-w-prose bg-base-100 break-words">
      {% if history["Summary"] %}
      <li>
        <details>
          <summary class="meta-summary font-bold">&nbsp;Summary&nbsp;</summary>
          <p class="py-2">{{ history["Summary"] }}</p>
        </details>
      </li>
      {% endif %}
      {% for meta in metadata %}
      {% if history[meta.key] %}
      {% if meta.list %}
      <li><b>{{ meta.key }}:</b> {{ history[meta.key] | join: '; ' }}</li>
      {% else %}
      <li><b>{{ meta.key }}:</b> {{ history[meta.key] }}</li>
      {% endif %}
      {% endif %}
      {% endfor %}

      {% if history["Keyword"] %}
      <li><b>Keyword:</b>
        {% for keyword in history["Keyword"] %}
        <a class="link hover:text-accent">{{ keyword }}</a>{% unless forloop.last %}; {% endunless %}
        {% endfor %}
      </li>
      {% endif %}
      {% if history["Subject"] %}
      <li><b>Subject:</b>
        {% for subject in history["Subject"] %}
        <a class="link hover:text-accent">{{ subject }}</a>{% unless forloop.last %}; {% endunless %}
        {% endfor %}
      </li>
      {% endif %}
      {% if history["Genre"] %}
      <li><b>Genre:</b>
        {% for genre in history["Genre"] %}
        <a class="link hover:text-accent">{{ genre }}</a>{% unless forloop.last %}; {% endunless %}
        {% endfor %}
      </li>
      {% endif %}
      {% if history["Format"] %}
      <li><b>Format:</b>
        {% for format in history["Format"] %}
        <a class="link hover:text-accent">{{ format }}</a>{% unless forloop.last %}; {% endunless %}
        {% endfor %}
      </li>
      {% endif %}
      {% if history["Link"] %}
      <li><b>Link:</b>
        {% for link in history["Link"] %}
        <a class="link hover:text-accent" href="{{ link }}" target="_none">{{ link }}</a>{% unless forloop.last %}; {%
        endunless %}
        {% endfor %}
      </li>
      {% endif %}    
      <li>
        <details>
          <summary class="meta-summary font-bold">&nbsp;Transcript&nbsp;</summary>
          <div class="transcript text-sm font-mono italic">
            {% include "transcripts/{{ history.id }}.html" %}
          </div>
        </details>
      </li>
    </ul>
  </div>
</article>