<a href="{{ '/' | url }}exhibit/{{ exhibit.data.number }}.html">
  <div class="card w-full bg-neutral relative transition-all duration-500 hover:scale-105">
    <!-- <img class="absolute z-10 -top-6 right-1 h-28 text-secondary brightness-80" src="{{ '/assets/bookmark-bg.png' | url }}"/> -->
    <img src="{{ exhibit.data.thumbnail }}" alt="" class="rounded-t-lg object-cover h-48 w-full mx-auto" />
    <div class="card-body">
      <span class="text-secondary text-lg md:text-xl">
        #{{ exhibit.data.number }}
      </span>
      <div class="card-title pb-2 text-xl md:text-2xl font-bold">
        {{ exhibit.data.title }}
      </div>
    </div>
  </div>
</a>