<footer class="footer bg-neutral text-base-content">
  <div class="container mx-auto max-w-screen-xl px-6 md:flex flex-wrap justify-start lg:gap-12 py-12">
    <div class="z-50 lg:mx-0 mx-6 mb-6">
      <div>Project Contact</div>
      <div class="font-serif leading-snug opacity-70 max-w-5xl w-full">
        bibliopolitica@gmail.com
      </div>
    </div>
    <div class="z-50 lg:mx-0 mx-6 mb-6">
      <div>Citing the Project</div>
      <div class="font-serif leading-snug opacity-70 max-w-5xl w-full">
        Original contents licensed CC BY-NC-ND. Please email with questions.
      </div>
    </div>
    <div class="z-50 lg:mx-0 mx-6 mb-6">
      <div>Project Codebase</div>
      <a href="https://github.com/bibliopolitica" target="_blank" class="font-serif leading-snug opacity-70 max-w-5xl w-full">
        github.com/bibliopolitica
      </a>
    </div>
  </div>
</footer>