{%- if page.url == '/' -%}
  {%- assign title = site.title -%}
{%- else -%}
  {%- if item.Label -%}
    {%- capture title -%}{{ item.Label | strip_html }} - {{ site.title }}{%- endcapture -%}
    {%- capture img -%}https://d1b7k5w7yjwpfg.cloudfront.net/iiif/2/bibliopolitica_{{ item.ID }}_{{ item.ID }}_001/full/800,/0/default.jpg{%- endcapture -%}
    {%- assign description = item.Summary %}
  {%- elsif history.Label -%}
    {%- capture title -%}{{ history.Label | strip_html }} - {{ site.title }}{%- endcapture -%}
    {%- capture img -%}{{ '/media/oh' | url }}/{{ history.ID }}.jpg{%- endcapture -%}
  {%- else -%}
    {%- capture title -%}{{ exhibit.title | strip_html | default: title }} - {{ site.title }}{%- endcapture -%}
    {%- assign img = thumbnail -%}
  {%- endif -%}
{%- endif -%}


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, width=device-width, viewport-fit=cover">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description | default: site.description }}">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{  description | default: site.description }}">
  <meta property="og:image" content="{{ img | default: '/assets/og-img.png' | url }}">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="{{ site.url }}">
  <meta property="twitter:url" content="{{ site.url }}">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{  description | default: site.description }}">
  <meta name="twitter:image" content="{{ img | default: '/assets/og-img.png' | url }}">

  <link href="{{ '/css/styles.css' | url }}" rel="stylesheet">
  <link rel="icon" href="{{ '/assets/favicon.png' | url }}" type="image/png">
  <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js" defer></script>
  <script src="{{ '/assets/vendor/flickity.min.js' | url }}"></script>
  <!-- <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script> -->
  <link rel="stylesheet" href="{{ '/assets/vendor/flickity.min.css' | url }}"/>
  <!-- <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css"> -->
</head>


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VVFGQ40671"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VVFGQ40671');
</script>
