<div class="carousel-item py-10 px-5 basis-1/6">
  <a href="">
    <img 
      src="/images/item-{{ item.slug }}.jpg"
      class=""
      alt=""
    >
    <div class="my-2 text-sm">
      {{ item.title }}
    </div>
  </a>
</div>