<div class="gallery-item">
  <div class="gallery-item-image">
    <a href="">
      <img 
        src="/images/item-{{ item.slug }}.jpg"
        alt=""
      >
    </a>
  </div>
  <div class="gallery-item-title">
    {{ item.title }}
  </div>
</div>