<div class="carousel-item">
  <div class="">
    <a href="">
      <img 
        src="/images/item-{{ item.slug }}.jpg"
        alt=""
      >
    </a>
  </div>
  {# <div class="m-1 text-sm">
    {{ item.title }}
  </div> #}
</div>