<nav class="bg-slate-800 p-4 sticky top-0 w-full z-10 text-sm">
  <div class="container flex items-center">
    <a href="/" class="mr-10 text-white uppercase">Wax Designs</a>
    <ul class="flex space-x-4">
      <li><a href="/dashboard/" class="text-white">Dashboard</a></li>
      <li><a href="/exhibit-a/" class="text-white">Exhibit-A</a></li>
      <li><a href="/components/" class="text-white">Components</a></li>
    </ul>
  </div>
</nav>