<nav class="topnav">
  <strong><a href="/">wax designs</a></strong>
  {% set menuItems = [
  { label: 'dashboard', url: '/dashboard/' },
  { label: 'components', url: '/components/' }
  ] %}
  <ul>
    {% for item in menuItems %}
      <li>
        <a class="{{ ' active' if item.url == page.url }}" href="{{ item.url }}">{{ item.label }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>