<a class="inline-block" href="{{ '/history/' | url }}{{ history.ID }}.html">
  <div class="card bg-neutral duration-500 hover:scale-105">
    <img loading="lazy" src="{{ '/media/oh' | url }}/{{ history.ID }}.jpg" alt="Photo of {{ history.Label | remove: ' Oral History Interview' }}" class="rounded-t-lg object-cover object-center h-52 w-full mx-auto" />
    <div class="card-body p-6">
      <div class="card-title text-base md:text-lg font-bold">
        {{ history.Label | remove: " Oral History Interview" }}
      </div>
      <span class="text-secondary text-sm leading-snug">
        {{ history["Short Role"] }}
      </span>
    </div>
  </div>
</a>