<nav class="bg-white p-8 border-b-2 text-lg">
  <div class="container mx-auto flex justify-between items-center">
    <a class="text-black text-lg font-bold">Wax Site Header</a>
    <ul class="flex space-x-4">
      <li><a class="">About</a></li>
      <li><a class="">Browse</a></li>
      <li><a class="">Search</a></li>
    </ul>
  </div>
</nav>