<link rel="stylesheet" href="{{ '/assets/vendor/leaflet.css' | url }}" />
<link rel="stylesheet" href="{{ '/assets/vendor/leaflet-fullscreen.css' | url }}" />
<script src="{{ '/assets/vendor/leaflet.js' | url }}"></script>
<script src="{{ '/assets/vendor/leaflet-iiif.js' | url }}"></script>
<script src="{{ '/assets/vendor/leaflet-sleep.js' | url }}"></script>
<script src="{{ '/assets/vendor/leaflet-fullscreen.js' | url }}"></script>

<div id="map" class="mx-[calc(50%-50vw)] w-full mb-20 z-0 bg-base-200"></div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var manifestUrl = "{{ item.manifest_url }}";
    var map;
    var iiifLayers = {};

    map = L.map('map', {
      center: [0, 0],
      sleep: true,
      sleepNote: true,
      fullscreenControl: true,
      fullscreenControlOptions: {
        position: 'topleft'
      },
      hoverToWake: false,
      crs: L.CRS.Simple,
      zoom: 0
    });

    fetch(manifestUrl)
    .then(function (response) {
      return response.json();
    })
    .then(function (data) {
      var tileSources = [];
      for (var i = 0; i < data.sequences[0].canvases.length; i++) {
        var val = data.sequences[0].canvases[i];
        iiifLayers[val.Label] = L.tileLayer.iiif(val.images[0].resource.service['@id'] + '/info.json');
      }
      L.control.layers(iiifLayers).addTo(map);
      iiifLayers[Object.keys(iiifLayers)[0]].addTo(map);
    })
    .catch(function (error) {
      console.error('Error fetching manifest:', error);
    });
  });
</script>