<div id="map" class="w-100 mb-4 z-0 h-96 bg-base-200"></div>
<script src="https://cdn.jsdelivr.net/npm/openseadragon@3.1/build/openseadragon/openseadragon.min.js"></script>
<script type="text/javascript">
  function fullscreenchanged(event) {
    if (window.viewer.isFullScreen()) {
      window.viewer.element.classList.remove("h-96");
    } else {
      window.viewer.element.classList.add("h-96");
    }
  }
  document.addEventListener("fullscreenchange", fullscreenchanged);
  document.addEventListener("DOMContentLoaded", function () {
    var manifestUrl = "{{ item.manifest_url }}";
    fetch(manifestUrl)
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json();
    })
    .then(data => {
      var tileSources = [];
      data.sequences[0].canvases.forEach(function (val) {
        tileSources.push(val.images[0].resource.service['@id'] + '/info.json');
      });
      window.viewer = OpenSeadragon({
        id: "map",
        sequenceMode: true,
        preload: true,
        prefixUrl: "{{ '/assets/vendor/osd/icons/' | url }}",
        tileSources: tileSources,
        placeholderFillStyle: "#FFFFFF",
        showHomeControl: false
      });
      // viewer.innerTracker.scrollHandler = false;
    })
    .catch(error => {
      console.error('Error fetching manifest:', error);
    });
  });
</script>