@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.header-anchor {
  opacity: 20%;
  padding-left: 10px;
  &:hover {
    opacity: 80%;
  }
}

.hide-scroll {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.hide-scroll::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

summary.meta-summary {
  display: block;
  cursor: pointer;
}
  
summary.meta-summary::after {
  display: inline-block;
  content: '►';
  transition: 0.2s;
}

summary.meta-summary::before {
  content: 'Show';
}
  
details[open] > summary.meta-summary::after {
  transform: rotate(90deg);
}

details[open] > summary.meta-summary::before {
  content: 'Hide';
}


.transcript p {
  padding-top: 1ch;
}
