@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.header-anchor {
  opacity: 20%;
  padding-left: 10px;
  &:hover {
    opacity: 80%;
  }
}

.hide-scroll {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.hide-scroll::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

summary.meta-summary {
  display: block;
  cursor: pointer;
}
  
summary.meta-summary::after {
  display: inline-block;
  content: '►';
  transition: 0.2s;
}

summary.meta-summary::before {
  content: 'Show';
}
  
details[open] > summary.meta-summary::after {
  transform: rotate(90deg);
}

details[open] > summary.meta-summary::before {
  content: 'Hide';
}


.transcript p {
  padding-top: 1ch;
}

/* 
.flickity-page-dots {
  top: -2px;
  justify-content: right !important;
}
.flickity-page-dot  {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid $text-base-content !important;
}
.flickity-page-dot:focus {
  box-shadow: none !important;
}
.flickity-page-dot.is-selected {
  background: $text-base-content !important;
} 
*/

.flickity-button:focus {
  box-shadow: none !important;
}

@supports not (color: oklch(0% 0 0)) { */
  #toggle-darkmode {
    display: none !important;
  }
  :root {
    color-scheme: light;
    --fallback-s: #975020;
    --fallback-a: #007049;
    --fallback-n: #EAE0CD;
    --fallback-nc: #230616;
    --fallback-bc: #230616;
    --fallback-b1: #f5f0e6;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      color-scheme: dark;
      --fallback-s: #C2845B;
      --fallback-a: #61A88F;
      --fallback-n: #33272e;
      --fallback-nc: #e8e3da;
      --fallback-bc: #E7DBC5;
      --fallback-b1: #11030B;
    }
  }
}
