---
title: "Components"
description: "TBD"
layout: "base"
---

<!-- featured items component -->

<h2 id="featured-items" class="m-6 badge badge-lg badge-primary mb-3">Featured Items</h2>

{% include "components/featured-items.liquid" %}

<div class="divider"></div>

<!-- facet-subset component -->

<h2 id="facet-subset" class="m-6 badge badge-lg badge-primary mt-2 -mb-8">Facet Subset</h2>

{% include "components/facet-subset.liquid" %}

<div class="divider"></div>

<!-- facet-subset-block component -->

<h2 id="facet-subset-block" class="m-6 badge badge-lg badge-primary">Facet Subset Block</h2>

{% include "components/facet-subset-block.liquid" %}


<!-- facet-subset-grid component -->

<h2 id="facet-subset-grid" class="m-6 badge badge-lg badge-primary">Facet Subset Grid</h2>

{% include "components/facet-subset-grid.liquid" %}