---
title: "Components"
description: "TBD"
layout: "base"
---

<div class="container mx-auto p-6">

<!-- featured items component -->

<h2 class="text-4xl my-6 border-b">Featured Items</h2>

{% include "components/featured-items.njk" %}

<!-- facet-subset component -->

<h2 class="text-4xl my-6 border-b">Facet Subset</h2>

{% include "components/facet-subset.njk" %}

<!-- facet-subset-block component -->

<h2 class="text-4xl my-6 border-b">Facet Subset Block</h2>

{% include "components/facet-subset-block.njk" %}

</div>