---
title: "Components"
description: "TBD"
layout: "base"
---

<div class="p-6">

<!-- featured items component -->

<h2 class="badge badge-lg badge-primary mb-3">Featured Items</h2>

{% include "components/featured-items.njk" %}

<div class="divider"></div>

<!-- facet-subset component -->

<h2 class="badge badge-lg badge-primary mt-2 -mb-8">Facet Subset</h2>

{% include "components/facet-subset.njk" %}

<div class="divider"></div>

<!-- facet-subset-block component -->

<h2 class="badge badge-lg badge-primary">Facet Subset Block</h2>

{% include "components/facet-subset-block.njk" %}

</div>