---
title: "Featured Items"
description: "TBD"
layout: "base"
---

<div class="featured-items">

  <div class="featured-items-header">
    <h1>Featured Items Big Headline</h1>
    <div class="subtitle">
      Maybe an example of an optional subtitle
    </div>
    <div class="description">
      Ut eleifend lacus at erat efficitur bibendum. Ut laoreet elit nec dolor molestie finibus. Vivamus justo risus, scelerisque nec dolor ut, pretium fringilla purus. Nam nisl erat, tristique ac libero vitae, bibendum pellentesque nulla. Praesent accumsan ut mauris ut euismod. Etiam mattis a justo eget blandit. Aliquam vitae magna eget nisi suscipit finibus id sit amet nulla.
    </div>
  </div>

  <div class="gallery">
    {% for item in posts.slice(1, 3) %}
    {% include "partials/wax-gallery-item.njk" %}
    {% endfor %}
  </div>

</div>
