/* top header and nav */

header {
  border-bottom: var(--border);
  margin: 0 0 0 0;
  padding: 30px 20px;
}

/* general page layout */

.page-header {
  padding: 2em 0 1em;
  text-align: center;
}

.page-header h1 {
  margin: 0 0 .1em 0;
}

.page {
  margin: 0 auto;
  max-width: 40rem;
  padding-top: 2em;
}

/* dashboard page layout */

.dashboard {
  border-bottom: var(--border);
  display: flex;
}

.dashboard nav {
  border-right: var(--border);
  flex: 1 0 0;
  min-width: 300px;
  padding: 20px;
}

.dashboard main {
  flex: 4 0 0;
}