/* top header and nav */

header {
  border-bottom: var(--border);
  margin: 0 0 0 0;
  padding: 30px 20px;
}

/* general page layout */

.page {
  margin: 0 auto;
  max-width: 40rem;
  padding-top: 2em;
}

/* dashboard page layout */

.dashboard {
  display: flex;
}

.dashboard nav {
  flex: 1 0 0;
  padding: 20px;
}

.dashboard main {
  flex: 4 0 0;
  background-color: #eee;
}