body {
  font-family: var(--font-stack);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  font-feature-settings: "kern" 1; 
  font-kerning: normal;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
}

p {
  font-size: 1.25rem;
  margin: 1em auto;
  max-width: 40rem;
}